*{
    margin: 0;
    padding: 0; 
    background-color: darkgray; 
}

#a{
    /* background-color: aqua; */
    height: 100px;
}
#b{
    
    height: 400px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}
#f{
    height: 400px;
    width: 150px;
}
#c{
    /* background-color: aqua; */
    height: 300px;
    width: 50%;
}
#p{
    text-align: left;
    font-size: 20px;
}
#k{
    text-align: left;
    font-size: 20px;
}
#l{
    text-align: left;
    font-size: 20px;
}
#h{
    /* background-color: brown; */
    height: 120px;

}
 #d{
    background-color:white; 
    height: 400px;
    width: 450px;
    text-align: center;

    /* display: flex;    */
}
#i{
    background-color: black;
    height: 40px;
}
#j{
    background-color: white;
}
#o{
    background-color: white;
    text-align: left;
}
#t{
    display: inline;
    background-color: white;
}
#w{
    display: inline;
    background-color: white;
}
/* #n{
    height:400px;
    width: 100px;
     background-color: bisque; 
} */

/* #e{
    height: 30px;
    display: flex;
    justify-content: left;
}  */



