*{
    margin: 0;
    padding: 0;
}
#a{
    background-color: aqua;
    height: 60px;
    display: flex;
    justify-content: space-around;
}
div{
    /* width: 800px; */
    height: 300px;
}
.b{
    background-color: bisque;
    height: 250px;
    /* display: inline-block; */
    text-align: center;
}

#bc{
    background-color: blue;
    height: 250px;
    width: 50%;
    display: inline-block;
    text-align: center;
}
#bd{
    background-color: rgb(93, 93, 108);
    height: 250px;
    width: 50%;
    display: inline-block;

    
}