*{
    margin: 0;
    padding: 0;
}
#e{  
    padding-left: 200px; 
    cursor: pointer;
}
#main{
    display: inline-block;
    display: flex;
    /* justify-content: center; */
}
#navbar{
    color: white;
    background-color: black;
    height: 45px;
    /* border: 3px solid black; */
    margin-bottom: 100px;
    padding-top: 20px;
    
}
#box1{
    height: 300px;
    width: 25%;
    /* background-color: aqua; */
    padding-left: 10px;
    margin: 0px 50px 0px 50px;
    border-bottom: solid 3px #7d571e;
    border-top: solid 3px #7d571e;
    border-left: solid 3px #7d571e;
    border-right: solid 3px #7d571e;
    cursor: pointer;
    background-color: #e60b0f;
    box-shadow: 10px 10px 10px black;
}
#box2{
    height: 300px;
    width: 25%;
    /* background-color: blue; */
    margin: 0px 50px 0px 50px;
    padding-left: 10px ;
    border-bottom: solid 3px #7d571e;
    border-top: solid 3px #7d571e;
    border-left: solid 3px #7d571e;
    border-right: solid 3px #7d571e;
    cursor: pointer;
    background-color: #e60b0f;
    box-shadow: 10px 10px 10px black;

}
#box3{
    height: 300px;
    width: 25%;
    /* background-color: orange; */
    margin: 0px 50px 0px 50px;
    padding-left: 10px;
    /* border: 5px solid red; */
    border-bottom: solid 3px #7d571e;
    border-top: solid 3px #7d571e;
    border-left: solid 3px #7d571e;
    border-right: solid 3px #7d571e;
    cursor: pointer;
    background-color: #e60b0f;
    box-shadow: 10px 10px 10px black;
}
#box4{
    height: 300px;
    width: 25%;
    /* background-color: yellow; */
    margin: 0px 50px 0px 50px;
    padding-left: 10px;
    /* border: 5px solid red; */
    border-bottom: solid 3px #7d571e;
    border-top: solid 3px #7d571e;
    border-left: solid 3px #7d571e;
    border-right: solid 3px #7d571e;
    cursor: pointer;
    background-color: #e60b0f;
    box-shadow: 10px 10px 10px black;
}
#s{
    height: 50px;
    margin-top: 90px;
    background-color: black;
}
#fouter{
    color: white;
    height: 30px;
    width: 200px;
    /* background-color: black; */
    margin-top: 36px;
    margin-left: 675px;
    justify-content: center;
    padding-top: 20px;
}
h1{
    padding-left: 50px;
    margin-top: 100px;
    text-shadow: 3px 3px 4px rgb(41, 43, 70); 
    cursor: wait;
} 
#shadow1{
    text-shadow: 2px 2px 4px red;
}