*{
    padding: 0;
    margin: 0;
}
#navbar{
    /* background-color: black; */
    /* color: white; */
    height: 30px;
    padding-left: 700px;
    padding-top: 10px;
}
#main{
    display:inline-block;
    display: flex;
    margin-left: 20px;
}
#box1{
    height: 100px;
    width: 200px;
    /* background-color: aqua; */
}
#box2{
    height: 100px;
    width: 200px;
    /* background-color: rgb(4, 238, 43); */
}
#box3{
    height: 100px;
    width: 200px;
    /* background-color: rgb(230, 11, 11); */
}
#box4{
    height: 100px;
    width: 200px;
    /* background-color: rgb(242, 7, 191); */
}