*{
    margin: 0;
    padding: 0;
    background-color: #77967c;
    color: white;
}

#navbar{
    height: 60px;
    background-color: #3a3d3b;
    font-size: larger;
    color: white;
    display: flex;  
    justify-content: space-between;
}

a{
    /* margin-right: 200px; */
    background-color:#3a3d3b;
    /* display: inline; */
    height: 20px;
}
button{
    color: white;
    background-color:#3a3d3b ;
}
